.cta
  = link_to 'Contactez-nous', "https://kuartz.typeform.com/to/rXkfKZ", class: "typeform-share button btn btn-red", data: { mode: "drawer_right", submit_close_delay: "0" }, target: "_blank"

javascript:
  (function() {var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
