footer {
  margin: 0;
  padding: 2rem;
  padding-bottom: 4rem;
  
  background-color: $blue-900;
  color: $blue-200;

  h3 {
    color: $blue-100;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    max-width: 1024px;
    border-bottom: 1px solid $gray-600;
  }

  a {
    color: $blue-100;
    text-decoration: none;

    &:hover {
      color: $blue-200;
    }
  }

  #footer-content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;

    span {
      color: $gray-300;
      margin-bottom: 1rem;

      a {
        color: $blue-600;
      }
    }

    .grid{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        margin: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    #footer-content {
      max-width: 1024px;
      justify-content: space-between;
      align-items: flex-end;

      .grid{
        flex: 0 0 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
  
        a {
          &:nth-child(2n) {
            text-align: right;
          }
        }
      }
    }
  }
}
